.bizi-bright-txt{
    color: #E79215;
}

.bizi-bright-bg{
    background-color: #E79215;
}

.bizi-dark-txt{
    color: #2D2928;
}

.bizi-dark-bg{
    background-color: #2D2928;
}

.bizi-white-txt{
    color: #E7E5DF;
}

.bizi-white-bg{
    background-color: #E7E5DF;

}