/* src/components/NavigationBar.css */
.navigationbar {
    width: 20px;
    height: 7%;
    background-color: rgb(53, 52, 52);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: left;
    padding-top: 0px;
    position: fixed;
    left: 0;
    top: 0;
    transition: width 0.2s;
  }
  
  .navigationbar.open {
    width: max-content
  }
  
  .button {
    margin-bottom: 20px;
    background-color: gray;
  }

  .no-bullets { 
    list-style-type: none;
  }
  